body{
    background-color: white;
    /* background-color: #93878B;  */
}

.navbar{
    background-color: #260E17;
}

.navbar-nav .nav-item{
    font-size: 25px;
}

#dreadful-logo{
    width: 193px;
    height: 59px;
}

.homepage-shortcuts{
    margin: 50px;
    align-items: center;

}

.shortcuts{
    border-color: #260E17;
    color: #260E17;
    border: 3px solid #260E17;
    border-radius: 5px;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    display: flex;
    margin: 10px;
    flex-basis: 17%;
}

.shortcuts:hover{
    background-color: lightgray;
}

.shortcuts-icon{
    height: 200px;
    width: 200px;
}



.table-header{
    background-color: #fdf1dc!important;
}

#class-table-title, .race-table-title{
    font-size: 1.8rem;
}



.class-border{
   background:#e69a28 ; 
   padding: 0.2rem;
}

.class-nav-item{
    font-size: 20px !important;
}

/* #class-selection li .active{
    background-color: darkgrey;
} */

#class-selection{
    padding-left: 40px;
}

#class-selection li:hover{
    background-color: gray;
}

#race-list a:not(.active):hover {
    background-color: gray;
}

#feat-list a:not(.active):hover {
    background-color: gray;
}


.class-feature-title{
    font-size: 1.5rem;
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    color: #ca1b13;
}

#prof-box, .class-feature-table, .feat-table{
    background-color: #fdf1dc ;
}

#prof-box td, #profBoxName, .class-feature-table td, .race-table td, .feat-box p{
    padding: 10px;
}

.feat-box ul{
    padding-bottom:  15px;
    padding-right: 20px;
}



#class-table tbody, .race-table tbody, .feat-box{
    background-color: #fdf1dc ;
}

.feat-box{
    margin-bottom: 20px;
}


.class-feature-subtitle{
    font-size: 1.4rem;
}

.class-feature-archetype{
    color: #005acd;
}

.feat-title{
    font-size: 1.8rem;
    border-bottom: 2px solid #ca1b13;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #ca1b13;
}

.feat-prerequisites{
    font-size: 1rem!important;
    color: black!important;
    font-style: italic;
}



