/* General Rules Start*/
body{
    background-color: white;
    /* background-color: #93878B;  */
}

.navbar{
    background-color: #260E17;
}

.navbar-nav .nav-item{
    font-size: 25px;
}

#dreadful-logo{
    width: 193px;
    height: 59px;
}

.table-header{
    background-color: #fdf1dc!important;
}


@media (max-width: 420.98px) { 
    #psionics-table, .item-table{
        font-size: 0.6rem;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

    #psionic-container{
        padding-left: 0;
        padding-right: 0;
    }
    #race-container, #psionics-display-section, #feat-display-section, #items-display-section{
        font-size: 0.8rem;
    }

    .item-table{
        font-size: 0.7rem;
    }
}


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 769px) {
    #trained-abilities, #race-tabDesc, #feat-display-section, #items-display-section{
        flex-basis: auto;
    }
    
    #training-info, #race-list-container, #feat-list, #items-list{
        max-width: 100%!important;
    }
    #race-list-container, #feat-list, #items-list{
        text-align: center;
        font-size: 1.5rem;
        position: static;
    }

    #training-container, #class-container{
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    

    .class-right-container, #prof-box{
        font-size: 0.8rem;

    }

    #class-container-top, #class-container-bottom, #feat-container, #psionics-container, #race-container, #items-container{ 
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

    .class-left-container, .class-right-container,#items-list, #items-display-section, #psionics-display-section {
        flex-basis: 100%;
    }

    .item-table, #property-list, #items-display-section, #description-list, #psionics-list, .psionics-box, #psionics-table{
        width: 100%!important;
        max-width: 100%!important;
    }

    #items-list, #psionics-list{
        text-align: center;
        font-size: 1.5rem;
        position: static;
    }

    .class-left-container, #items-list{
      max-width: 100%!important;
    }
 }

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

}

/* General Rules End*/


.homepage-shortcuts{
    margin: 50px;
    align-items: center;

}

.shortcuts{
    border-color: #260E17;
    color: #260E17;
    border: 3px solid #260E17;
    border-radius: 5px;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    display: flex;
    margin: 10px;
    flex-basis: 17%;
}

.shortcuts:hover{
    background-color: lightgray;
}

.shortcuts-icon{
    height: 200px;
    width: 200px;
}


#class-table-title, .race-table-title{
    font-size: 1.8rem;
}

.table-subtitle{
    font-size: 1.5rem;
    color: brown;
}

#class-selection li:hover{
    background-color: gray;
}

#race-list a:not(.active):hover {
    background-color: gray;
}

#feat-list a:not(.active):hover {
    background-color: gray;
}


#prof-box, #class-feature-table, .feat-table{
    background-color: #fdf1dc ;
}

#prof-box td, #profBoxName, #class-feature-table td, .race-table td, .feat-box p, #training-base td, .psionics-body{
    padding: 10px;
}

#class-table tbody, .race-table tbody, .feat-box, #training-base, #psionics-table tbody, .psionics-box, #items-display-section tbody{
    background-color: #fdf1dc ;
}


/*Class*/
#class-selection{
    padding-left: 15px;
}

.class-right-container{
    min-width: 350px;
}

.class-left-container{
    min-width: 300px;
    max-width: 500px;
}

.class-feature-subtitle, .psionics-subtitle{
    font-size: 1.4rem;
}

.class-feature-archetype{
    color: #005acd;
}

.class-feature-title{
    font-size: 1.5rem;
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    color: #ca1b13;
}

.class-border{
    background:#e69a28 ; 
    padding: 0.2rem;
 }
 
 .class-nav-item, #class-container .badge-pill{
     font-size: 20px !important;
 }

 
/*feat*/

#feat-list{
    max-width: 250px;
    padding-left: 15px;
}

#feat-display-section, #items-display-section{
    min-width: 350px;
}

.feat-box, .psionics-box{
    margin-bottom: 20px;
}

.feat-box ul, .psionics-box ul{
    padding-bottom:  15px;
    padding-right: 20px;
}

.feat-title{
    font-size: 1.8rem;
    border-bottom: 2px solid #ca1b13;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #ca1b13;
}

.feat-prerequisites, .psionic-order{
    font-size: 1rem!important;
    color: black!important;
    font-style: italic;
}


/*race*/
#race-list-container{
    max-width: 300px;
}

#race-tabDesc{
    min-width: 350px;
}


/*training*/
#training-info{
        max-width: 500px;
        min-width: 350px;
}

#trained-abilities{
    min-width: 350px;
}

#training-split{
    border-bottom: 2px solid #ca1b13;
}

#trained-abilities .trained, #trained-abilities .trained-desc, #property-list .property, #property-list .property-desc, #description-list .description, #description-list .description-desc{
    background-color: #fdf1dc ;
}

#trained-abilities li:not(.internal-list):nth-of-type(2n), #trained-abilities ul div:nth-of-type(2n+1),
#property-list li:not(.internal-list):nth-of-type(2n), #property-list ul div:nth-of-type(2n+1), #description-list li:not(.internal-list):nth-of-type(2n), #description-list ul div:nth-of-type(2n+1){
    background-color: rgba(0,0,0,.05);
}

#trained-abilities div, #property-list  div, #description-list  div{
    border: 1px solid rgba(0,0,0,.125);
}
/*psionics*/

#psionics-list, #items-list{
    max-width: 300px;
}

#psionics-display-section{
    min-width: 350px;
}

/* #psionics-table{

} */

.psionic-description{
    font-size: 1rem!important;
    color: black!important;
}

.psionics-title:hover{
    background-color: rgba(0,0,0,.05);
}
.psionics-title{
    font-size: 1.8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #ca1b13;
}

.psionic-order{
    font-size: 1rem!important;
    color: black!important;
    font-style: italic;
}

.psionics-body{
    border-top: 2px solid #ca1b13;
}

#psionics-list, #items-list{
    padding-left: 15px;
}


.side-table{
    border-right:1px solid #e69a28;
    border-left:1px solid #e69a28;
    min-width: 350px;
}

.side-table td:empty::after{
    content: "\00a0";
  }

  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 2px; /* Place the button at the bottom of the page */
    right: 2px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: grey; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 8px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 25px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }